<!DOCTYPE html>
<html lang="en" ng-app="GameFly">
  
  <head>
    <title>GameFly - Stream App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="assets/app.css" />
  </head>
  
  <body layout="column" ng-controller="AppController as app" style="background-color:#000;">
    <!--<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      <md-toolbar class="md-whiteframe-z1">
        <h1>Users</h1>
      </md-toolbar>
      <md-list>
        <md-list-item ng-repeat="it in ul.users">
          <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
            <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>{{it.name}}</md-button>
        </md-list-item>
      </md-list>
    </md-sidenav>-->
    <md-toolbar layout="row" class="md-whiteframe-z2" style="position:fixed;">
      <md-button class="menu">
        <md-icon md-svg-icon="menu"></md-icon>
      </md-button>
      <h1>GameFly - Stream App</h1>
    </md-toolbar>
    <div flex style="padding-top:70px;">
      <video muted autoplay loop src="https://cdn1.gameflycdn.com/merch/Video/480p/product-5009371.mp4" style="width:100%;"></video>
      <md-content layout-padding style="position:fixed;bottom:0;width:100%;height:300px;background-color:transparent;">
        <!--<md-grid-list md-cols="4" md-row-height="200px" md-gutter="10px">
          <md-grid-tile ng-repeat="product in app.products">
            <img ng-src="{{product.image}}" style="width:100%;height:100%;" />
            <md-grid-tile-footer>
              <h3>{{product.title}}</h3>
            </md-grid-tile-footer>
          </md-grid-tile>
        </md-grid-list>-->
        <div layout="row">
          <md-card ng-repeat="product in app.products" style="position:relative;">
            <md-button class="md-icon-button md-accent" aria-label="Play" style="position:absolute;right:0;">
              <md-icon md-svg-icon="hangouts" ng-click=""></md-icon>
            </md-button>
            <img ng-src="{{product.image}}" class="md-card-image">
            <md-card-content>{{product.title}}</md-card-content>
            <!--<div class="md-actions" layout="row" layout-align="end center">
              <md-button class="md-icon-button md-accent" aria-label="Play">
                <md-icon md-svg-icon="hangouts" ng-click=""></md-icon>
              </md-button>
            </div>-->
          </md-card>
        </div>
        <div layout="row">
          <md-card ng-repeat="product in app.products">
            <img ng-src="{{product.image}}" class="md-card-image">
            <md-card-content>
              <p>{{product.title}}</p>
            </md-card-content>
          </md-card>
        </div>
      </md-content>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="src/app.js"></script>
  </body>

</html>