<!DOCTYPE html>
<html lang="en" ng-app="GameFly">
  
  <head>
    <title>GameFly - Stream App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="assets/app.css" />
  </head>
  
  <body layout="column" layout-align="center center" ng-controller="AppController">
    <div class="app-container">
      <gf-splash-video items="products1" active-index="activeIndex"></gf-splash-video>
      <md-content class="game-content">
        <h2 class="font-shadow">My Games</h2>
        <div class="game-stack">
          <div class="my-game game-item" ng-repeat="product in products1" ng-style="{'background-image':'url({{product.image}})'}"
          ng-click="play($index)"></div>
        </div>
        <h2 class="font-shadow">Adventure Pack - 7 Games</h2>
        <div class="game-stack">
          <div class="game-item" ng-repeat="product in products2" ng-style="{'background-image':'url({{product.image}})'}"></div>
        </div>
      </md-content>
    </div>
    <div class="md-padding">
      For best viewability, use 1280x720 resolution on any smart device emulator.
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="src/app.js"></script>
  </body>

</html>